DISCORD_TOKEN=MAIN_BOT_TOKEN
BETA_TOKEN=BETA_BOT_TOKEN
ENV_MODE=nomal

# 次のいずれかからDBを設定できます。: sqlite, mongodb, mysql, postgresql
DB_TYPE=sqlite

# SQLiteの設定ファイルパス
SQLITE_PATH=./database.sqlite

# MongoDB設定 (DB_TYPE=mongodb)
# MONGODB_URI=mongodb://localhost:27017/SharkBot-js

# MySQL設定 (DB_TYPE=mysql)
# MYSQL_HOST=localhost
# MYSQL_USER=user
# MYSQL_PASSWORD=password
# MYSQL_DATABASE=sharkbot-js

# PostgreSQL設定 (DB_TYPE=postgresql)
# POSTGRES_URI=postgresql://user:password@localhost:5432/sharkbot-js

# Prisma ORM 接続URL (sqliteの場合は file:./database.sqlite)
DATABASE_URL="file:./database.sqlite"
